<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">realby</a>
  </div>

  <ul class="navbar-center">
    <li><a href="/timeline.html">chronologie<span class="badge">3</span></a></li>
    <li><a href="/work.html">travail</a></li>
    <li><a href="/about.html">à propos</a></li>
    <li><a href="/story.html">histoire</a></li>
    <li><a href="/tips.html">conseils<span class="badge">1</span></a></li>
    <li class="dropdown">
      <a href="#">plus</a>
      <ul class="dropdown-menu">
        <li><a href="/contact.html">contact</a></li>
        <li><a href="/projects.html">projets</a></li>
      </ul>
    </li>
  </ul>

  <div class="navbar-right">
    <a href="#" class="icon">⌂</a>
    <a href="#" class="icon">✕</a>
    <a href="#" class="icon">☼</a>
  </div>
</nav>
